$black: #2B2A2A;
$blue: #4945FF;
$gray: #676767;
$bg-gray: #f7f7f8;

$blue-gradient: linear-gradient(180deg, #6B68FF 0%, #504CFF 100%);
$blue-gradient-darken: linear-gradient(180deg, #5c5afd 0%, #403dfd 100%);
$btn-radius: 40px;

